<mat-sidenav-container class="app-sidenav-container" [class.dark-theme]="isDarkTheme" [dir]="this.dir">
    <mat-sidenav 
        #sidenav 
        [mode]="isScreenSmall() ? 'over' : 'side'" 
        [opened] = !isScreenSmall() 
        class="app-sidenav mat-elevation-z10">
        <mat-toolbar color="primary">
            Contacts
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users | async">
               <a matLine [routerLink]="['/app', user.id ]">
                <mat-icon svgIcon='{{user.avatar}}'></mat-icon>   
                {{ user.name }}</a>
            </mat-list-item>
          </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (toggleSidenav)="sidenav.toggle()"
                     (toggleTheme)="toggleTheme()"
                     (toggleDir)="toggleDir()"></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>